.home-page {
  background-color: white;
}

.hero {
  /* Position */
  position: relative;

  /* Dimensions */
  height: 450px;

  /* Attributs */
  overflow: hidden;

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero > img {
  height: 100%;
  object-fit: cover;
}

.hero h2 {
  /* Font */
  font-size: 34px;

  /* Marges */
  margin-bottom: 40px;
}

.hero > div.container {
  /* Dimensions */
  width: 100%;
}

.hero > div > div {
  /* Position */
  position: absolute;
  top: 75px;

  /* Dimensions */
  width: 410px;

  /* Background */
  background-color: white;

  /* Marges */
  /* margin-top: 75px; */
  padding: 60px 30px;
}

.hero > div > div button {
  /* Dimensions */
  height: 45px;

  /* Marges */
  padding: 15px;

  /* background */
  background-color: #2caeb7;

  /* Font */
  color: white;

  /* border */
  border-radius: 5px;
}

.tearing-effect {
  /* Position */
  position: absolute;
  bottom: 0px;
  /* z-index: 2; */

  /* Dimensions */
  width: 100%;

  /* Flexbox */
  display: flex;
  align-items: flex-end;
}

.results-box {
  /* Marges */
  margin-top: 40px;

  /* Flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
